* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}
body {
    /* height: 6000vh; */
    scroll-behavior: smooth;
}
.logo {
    text-align: center;
    margin-top: 0.5rem;
}

.logo img {
    width: 25%;
}

.Track-flex input {
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 1rem;
    margin: 1rem 2rem 0;
    height: 48px;
    width: 70%;
}

.Track-flex {
    display: flex;
}

.track {
    width: 18%;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    height: 48px;
    margin-top: 1.0rem;
    margin-left: -2.2rem;
    padding-top: 1rem;
    text-align: center;
}

.track a {
    text-decoration: none;
    color: #67A2E5;
    font-weight: 600;
}

.countdown {
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

.Dallas {
    line-height: 1.6;
}

.Tex {
    font-size: 12px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #67A2E5;
    font-size: 12px;
}

.phone p {
    font-size: 14px;
    /* letter-spacing: 2px; */
    font-weight: 600;
}

.now {
    font-size: 12px;
}
.Menu {
    background: #67A2E5;
    transition: all .6s linear;
    position: sticky;
    top: 0;
    padding-bottom: 20rem;
    z-index: 10;
    /* height: 20vh; */
    padding: 1rem;
}
.img {
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
nav {
    padding: 1rem;
    line-height: 2;
    display: none;
    margin-top: 2rem;
    transition: all .6s linear;
    font-size: 13px;
    font-weight: 600;
}
nav ul li {
    color: #ffff;
    cursor: pointer;
    list-style-type: none;
}
nav a {
}
nav li:hover {
    color: black;
    transition: all .3s linear;
}
.uloo, .uloo2, .uloo3{
    display: none;
}
.uloo li, .uloo2, .uloo3 li {
    margin-left: 3rem;
}
.uloo.out, .uloo2.out2, .uloo3.out3 {
    display: block;
}
.server:hover {
    color: #000;
}
 .uloo ul, a {
    color: #000;
    text-decoration: none;
}
.uloo, .uloo2, .uloo3 a:hover {
    color: transparent;
}
nav.open {
   display: block;
   transition: all .6s linear;
}
.butt {
    display: flex;
    gap: 2rem;
}
.button button {
    cursor: pointer;
    padding: 1rem;
    width: 120%;
    border: none;
    border-radius: 10px;
    background-color: #000;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
}
.button button:hover {
    background-color: #ffff;
    color: #67A2E5;
    transition: all .3s linear;
}
.button2 button:hover {
    background-color: #ffff;
    color: #67A2E5;
    transition: all .3s linear;
}
.button2 button {
    cursor: pointer;
    padding: 1rem;
    width: 120%;
    border: none;
    border-radius: 10px;
    background-color: #000;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
}
.posit {
    position: fixed;
    z-index: 700;
    top: 0;
    visibility: hidden;
    transition: all .3s linear;
    opacity: 0;
}
.close-menu {
    display: none;
    text-align: end;
    margin-right: 1rem;
}
.close-menu i {
    font-size: 24px;
}
.close-menu.show-menu {
    display: block;
}
.Sign-up {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 0px 100px 0px  black,
                0px 10px 10px 0px black;
    background: #ffff;
    margin: auto;
    padding-top: 2rem;
    /* transition: all .3s linear; */
    text-align: center;
    padding-bottom: 2rem;
    width: 95%;
}
.Sign-up.translate {
    transition: all .3s linear;

}
.Sign-up .span {
    padding-top: 1rem;
}
.Sign-up .empty2 {
    border-bottom: 1px solid silver;
    width: 92%;
    margin: auto;
    margin-top: 2rem;
}
.Sign-up .empty3 {
    border-bottom: 1px solid #67A2E5;
    width: 50%;
    margin: auto;
}
.Sign-up .empty{
    border-bottom: 2px solid red;
    width: 9%;
    margin-left: 38.5%;
}
.posit.show-signup {
    visibility: visible;
    opacity: 1;
    /* transition: all .3s linear; */
}
.form {
    display: flex;
    gap: 0.5rem;
    margin-left: 0.8rem;
}
.form input {
    border-radius: 8px;
    border: 1px solid silver;
    font-size: 17px;
    outline: none;
    padding: 0.5rem;
    width: 48%;
    margin-top: 1rem;
}
.Com input {
    border-radius: 8px;
    border: 1px solid silver;
    font-size: 17px;
    outline: none;
    padding: 0.5rem;
    width: 95%;
    margin-top: 1rem;
}
.sign-up-button button {
    background: #67A2E5;
    border: none;
    cursor: pointer;
    color: #ffff;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 1rem;
    font-size: 17px;
    outline: none;
    padding: 1rem;
    width: 95%;
}
.sign-up-button button:hover {
    background-color: #000;
    transition: all .3s linear;
}
.GO-TO {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #000;
    color: #ffff;
    text-align: center;
    height: 20vh;
    margin: auto;
    padding-top: 2rem;
    width: 96%;
}
.link {
    margin-top: 1rem;
}
.link a {
    font-weight: 600;
    color: green;
}
.link a:hover {
    color: #67A2E5;
    text-decoration: none;
    transition: all .3s linear;
}
.whole {
    border-bottom: 7px solid #67A2E5;
    padding-top: 0.0rem;
}
.ship {
    background-image: url(/image/images.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 15s infinite;
    width: 100%;
    position: relative;
    height: 35vh;
}
.ship::before {
    content: '';
    position: absolute;
    top: 0;
    height: 35vh;
    filter: blur(10px);
    width: 100%;
    background-color: #0000004d;
}
/* @keyframes slide {
    20% {
       background-image: url(/image/images.jfif);
    }
    30% {
        background-image: url(/image/5cf33a89bb166.jpg);

    }
    75% {

    }
} */
