.icon1 {
    /* display: flex; */
    /* gap: 26rem; */
    /* padding: 1rem; */
    position: absolute;
    top: 55%;
    color: #ffff;
}
.icon {
    display: flex;
    width: 90vw;
    margin-left: 1rem;
    margin-top: 1rem;
    justify-content: space-between;
}
.icon i {
    font-size: 50px;
    padding-top: 3rem;
}
.icon .angle {
    text-align: end;
}
.tex {
    padding-top: 6rem;
    top: -30%;
    margin-left: 3rem;
}
.tex h3 {
    font-weight: 300;
    text-align: center;
    position: absolute;
    width: 90%;
    color: #ffff;
}
.To {
    padding: 1rem;
}
 .hi h3 {
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
}
.wec p {
    font-size: 16px;
    line-height: 1.6;
}
.Kindz {
    width: 100%;
    /* overflow-x: hidden; */
}
.Kindz img {
    margin-top: 4rem;
    width: 100%;
}
.Air {
    display: flex;
    gap: 1rem;
}
.Air2 {
    margin-top: 2rem;
}
.Air3 {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.Days h4 {
    margin-bottom: 0.5rem;
}
.sed-line {
    /* border: 1px solid silver; */
    background: silver;
    width: 100%;
    height: 1px;
    margin-top: 1rem;
}
.sed-line1 {
    background: silver;
    width: 100%;
    height: 1px;
    margin-top: 1rem;
}
.sed-line2 {
    width: 80%;
    height: 6px;
    background: #67A2E5;
    margin: auto;
    position: absolute;
    left: 10%;
    margin-top: -0.15rem;
}
.blor {
    background: black;
    padding: 1rem;
    color: #ffff;
}
.blor h2 {
    font-size: 30px;
    margin-top: 1rem;
}
.blor p {
    margin-left: 1.2rem;
    font-size: 20px;
    /* list-style:lo ; */
}
.span {
    padding: 1rem 1.2rem;
    font-size: 15px;
    line-height: 1.5;
    color: gray;
}
.blor li {
    font-size: 40px;
    font-weight: 600;
    padding: 1rem;
    margin-left: 2.5rem;
}
.Bus img {
    margin-left: 8rem;
}
.fa-check {
    color: green;
    font-size: 20px;
    margin-left: 2rem;
    /* font-weight: 900; */
}
.expert h2 {
    padding: 1rem;
}
.quite {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.quite p {
    font-size: 14px;
}
.reliable {
    text-align: center;
}
.reliable img {
    width: 93%;
}



@media (min-width: 1022px) {
    .header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo img {
        width: 80%;
    }
    .countdown {
        text-align: right;
    }
    .Track-flex {
        width: 50%;
    }
    .Track-flex input {
        width: 80%;
    }
    .track {
        width: 14%;
        margin-left: -2.2rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        width: 90%;
        flex-direction: row-reverse;
        align-items: baseline;
    }
    #Dallas::after {
        content: '';
        height: 55px;
        width: 2px;
        position: absolute;
        top: 5%;
        right: 15%;
        background: silver;
    }
    nav {
        margin-top: -4rem;
        display: block;
        overflow-y: hidden;
    }
    nav ul {
        display: flex;
        gap: 2rem;
    }
    .img img {
        display: none;
    }
    #dallas {
        margin-left: -2rem;
    }
    .wec h3 {

    }
    .wec p {
        width: 90%;
    }
    .wec p {
        font-size: 15px;
        line-height: 1.6;
    }
    .To {
        padding: 5rem;
    }
    .hi {
        /* margin-top: -4rem; */
        font-size: 20px;
    }
    .wec {
        display: flex;
    }
    .Kindz {
        width: 300%;
    }
    .Kindz img {
        margin-top: 4rem;
        /* margin-left: -7rem; */
        width: 100%;
    }
}